div.late-log-content {
  padding-bottom: 24px;

  .late-log-card {
    display: flex;
    margin: 8px 0;
    padding: 4px;

    .data {
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      .field {
        display: flex;
        align-items: center;
        margin: 8px;

        .icon {
          margin: 0 4px;
        }
      }
    }

    .actions {
      flex: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
