.confirm-modal-content {
  padding-bottom: 24px;

  .confirm-modal-message {
    margin-bottom: 16px;
  }

  .confirm-modal-actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
