div.log-entry {
  margin-right: 8px;
  .log-summary {
    padding: 0px;
    .summary-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      padding: 6px;
      margin: 0;
    }
  }
  .MuiAccordionDetails-root {
    padding: 0;
  }
}
