div.discord-log-entry {
  margin-right: 8px;
  .discord-log-summary {
    padding: 0px;
    .MuiAccordionSummary-content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      display: flex;
      gap: 20px;
      padding: 12px;
      margin: 0;

      div {
        display: flex;
        flex-direction: row;

        svg {
          margin-right: 8px;
        }
      }
    }
  }
  .MuiAccordionDetails-root {
    padding: 0;
  }
}
