.event-page {
  overflow: auto;

}

.button-container {
  display: flex;
  padding: 12px;
  justify-content: end;
  width: 100%;

  .discord-button {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}