div.log-entry-viewer {
  // padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  // gap: 8px;

  .log-entry-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-top: 1px solid var(--mui-palette-divider);

    .top-row {
      display: flex;
      .data {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 32px;
        margin-right: 40px;

        .field {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        flex: 0;
      }
    }
  }
}
