.menu-item {
  display: flex;
  align-items: center;
  padding-right: 50px;

  .icon {
    font-size: 20px;
    margin-right: 8px;
  }
}

.error {
  color: var(--mui-palette-error-main);
}

.warning {
  color: var(--mui-palette-warning-main);
}
