.member-card {
  border: none;
  transition: border-left 0.2s;
  border-radius: 3px;

  &:hover {
    border-left: 8px solid;
    cursor: pointer;
    background-color: var(--mui-palette-action-hover);

    &.kick-mode {
      border-left: 0px;
    }
  }

  width: 100%;
  padding: 8px 12px;

  &:last-child {
    padding-bottom: 12px;
  }

  .top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;

      .avatar {
        border-radius: 100%;
      }

      .avatar,
      .MuiCheckbox-root {
        margin-right: 8px;
        height: 32px;
        width: 32px;
      }

      .details {
        .name {
          white-space: nowrap;
        }

        .date {
          display: flex;
          overflow: hidden;
          align-items: center;

          font-size: 12px;
          opacity: 0.8;
          font-weight: 300;
          white-space: nowrap;
        }
      }
    }

    .icons-container {
      display: flex;
      align-items: center;
      color: var(--mui-palette-action-active);

      img {
        margin: 0 2px;
      }

      span {
        display: flex;
        align-items: center;
      }

      .number {
        height: 24px;
        width: 24px;
        font-size: 16px;
        text-align: center;
        margin-right: 0.2rem;

        &:last-child {
          margin-right: 0;
        }

        &.official {
          background-color: var(--mui-palette-error-main);
          color: var(--mui-palette-error-contrastText);
        }

        &.informal {
          background-color: var(--mui-palette-warning-main);
          color: var(--mui-palette-warning-contrastText);
        }

        &.event {
          background-color: var(--mui-palette-secondary-main);
          color: var(--mui-palette-secondary-contrastText);
        }
      }
    }
  }
}

.error {
  color: var(--mui-palette-error-main);
}
