div.member-header {
  display: flex;
  padding: 4px 10px 4px 10px;
  align-items: center;

  .avatar {
    margin-right: 16px;
  }
}

hr.MuiDivider-root {
  margin-top: calc(1 * var(--mui-spacing));
  margin-bottom: calc(1 * var(--mui-spacing));
}

div.detail {
  padding-left: 8px;
  display: flex;
  align-items: center;
  // justify-content: center;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

div.member-detail-container {
  display: flex;
  padding: 0px 16px;

  div.name {
    font-size: medium;
    font-weight: 600;
  }

  div.rank {
    font-weight: 300;
    font-size: small;
  }

  div.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mui-palette-action-active);
  }
}
