div.log-entry-viewer {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .log-entry-card {
    display: flex;
    padding: 4px 4px 4px 12px;

    .data {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;

      .field {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .actions {
      margin-left: 16px;
      flex: 0;
    }
  }
}
