div.roster-bar {
  width: 100%;
  padding: 4px;
  display: flex;
  border: none;
  border-bottom: 1px solid var(--mui-palette-divider);
  border-radius: 0;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;

  .left,
  .right {
    display: flex;
    align-items: center;
    align-content: center;

    .selection-length {
      margin-right: 4px;
    }

    .refresh {
      margin-right: 8px;
    }
  }
}

.selected {
  margin-right: 8px;
}

li.control-menu-item {
  padding-right: 60px;
}
