.roster-bar {
  width: 100%;
  padding: 4px;
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;

  .left,
  .right {
    display: flex;
    align-items: center;
    align-content: center;

    .selection-length {
      margin-right: 4px;
    }

    .refresh {
      margin-right: 8px;
    }
  }
}

.selected {
  margin-right: 8px;
}
