.app {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nav-tabs .nav-link {
  color: white;
}

.tab-title {
  display: flex;
  align-items: center;
}

.nav-tabs {
  border-bottom: 1px solid #444e58;
}

.nav-tabs .nav-link:hover {
  background-color: #444e58;
  border-color: #444e58;
}

.nav-tabs .nav-link.active {
  border-color: #444e58;
  background-color: #444e58;
  color: white;
}

.tab-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.tab-content {
  flex-basis: 0;
  flex-grow: 1;
  overflow-y: auto;
}
