.app {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nav-tabs .nav-link {
  color: white;
}

.tab-title {
  display: flex;
  align-items: center;
}

span.events-attended {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

td.actions {
  vertical-align: middle;
}

.action {
  cursor: pointer;
}

.action:hover {
  color: #aaa;
}

.action:active {
  transform: translateY(1px);
}

div.actions {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  justify-self: center;
  align-items: center;
}

.nav-tabs {
  border-bottom: 1px solid #444e58;
}

.input-group-text {
  background-color: #444e58;
  border: 1px solid #444e58;
}

.form-control {
  border: 1px solid #444e58;
  border-top-right-radius: 0.25em !important;
  border-bottom-right-radius: 0.25em !important;
}

.nav-tabs .nav-link:hover {
  background-color: #444e58;
  border-color: #444e58;
}

.nav-tabs .nav-link.active {
  border-color: #444e58;
  background-color: #444e58;
  color: white;
}

.tab-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.tab-content {
  flex-basis: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.rank {
  color: white;
}

.spearmarshal {
  background-color: #f8c300;
}

.third-spear {
  background-color: #444e58;
}

.second-spear {
  background-color: #00d166;
}

.first-spear {
  background-color: #0099e1;
}

.captain {
  background-color: #a652bb;
}

.commander {
  background-color: #fd0061;
}

.general {
  background-color: #cc7900;
}

.guest {
  background-color: #62c592;
}

.bots {
  background-color: #a62019;
}

.invited {
  background-color: rgb(94, 94, 94);
}

.not-found {
  background-color: black;
}

.refresh-spinner {
  margin: 0em 1em;
}

.error {
  color: #ff0033
}

.icon {
  margin: 0px 5px;
}

.icon:hover {
  cursor: pointer;
}

.account-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-errors {
  display: flex;
  align-items: center;
  justify-content: center;
}
