.app {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 100%;
  overflow: hidden;
}

.nav-tabs .nav-link {
  color: white;
}

.nav-tabs {
  border-bottom: 1px solid #444e58;
}

.input-group-text {
  background-color: #444e58;
  border: 1px solid #444e58;
}

.form-control {
  border: 1px solid #444e58;
  border-top-right-radius: 0.25em !important;
  border-bottom-right-radius: 0.25em !important;
}

.nav-tabs .nav-link:hover {
  background-color: #444e58;
  border-color: #444e58;
}

.nav-tabs .nav-link.active {
  border-color: #444e58;
  background-color: #444e58;
  color: white;
}

.tab-content {
  height: calc(100vh - 125px);
  overflow-y: auto;
}

.rank {
  color: white;
}

.spearmarshal {
  background-color: #f8c300;
}

.second-spear {
  background-color: #0099e1;
}

.first-spear {
  background-color: #a652bb;
}

.captain {
  background-color: #fd0061;
}

.general {
  background-color: #cc7900;
}

.guest {
  background-color: #00d166;
}

.bots {
  background-color: #a62019;
}

.invited {
  background-color: rgb(94, 94, 94);
}

.not-found {
  background-color: black;
}

.refresh-spinner {
  margin: 0em 1em;
}
