.input-group-text {
  background-color: #444e58;
  border: 1px solid #444e58;
}

.form-control {
  border: 1px solid #444e58;
  border-top-right-radius: 0.25em !important;
  border-bottom-right-radius: 0.25em !important;
}

.refresh-spinner {
  margin: 0em 1em;
}
