.roster-bar {
  width: 100%;
  padding: 4px;
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;

  .left,
  .right {
    align-items: center;
  }
}

.selected {
  margin-right: 8px;
}
