@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: calc(100% + env(safe-area-inset-top));
  max-height: calc(100% + env(safe-area-inset-top));
}

body,
#root {
  height: 100%;
  max-height: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.paper-container {
  overflow: hidden;
  height: 100%;
  max-height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    
    div.outlet {
      padding-top: 12px;
      padding-right: max(env(safe-area-inset-right), 12px);
      padding-bottom: max(env(safe-area-inset-bottom), 12px);
      padding-left: max(env(safe-area-inset-left), 12px);
      overflow: hidden;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
