.member-card {
  margin: 4px;
  width: 100%;
  display: flex;

  &.fullWidth {
    width: 100%;
    flex-basis: 100%;
  }

  @media screen and (min-width: 600px) {
    flex-basis: 300px;
    flex-grow: 1;
  }

  &.MuiPaper-outlined {
    border-left: 4px solid;
    transition: border-left 0.1s;

    &:hover {
      .MuiCardContent-root {
        background-color: rgba(0, 0, 0, 0.1);
      }
      border-left: 8px solid;
      cursor: pointer;
    }
  }

  .MuiCardContent-root {
    width: 100%;
    padding: 12px;

    &:last-child {
      padding-bottom: 12px;
    }

    .top-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .name {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;

        .avatar {
          margin-right: 8px;
          height: 32px;
          width: 32px;
        }

        .details {
          .name {
            white-space: nowrap;
          }

          .date {
            display: flex;
            align-items: center;
            .MuiSvgIcon-root,
            .MuiTypography-root {
              font-size: 12px;
              opacity: 0.8;
              font-weight: 200;
            }

            .MuiSvgIcon-root {
              margin-right: 4px;
            }

            .MuiTypography-root {
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .icons-container {
        display: flex;
        align-items: center;

        img,
        .MuiAvatar-root,
        .MuiSvgIcon-root {
          margin: 0 2px;
        }

        .number {
          height: 24px;
          width: 24px;
          font-size: 16px;
          text-align: center;
          color: black;

          &.points {
            background-color: #009688;
          }

          &.warnings {
            background-color: #ffea00;
          }
        }
      }
    }
  }
}

.error {
  color: #ff0033;
}

.warning {
  color: #ffea00;
}
